/* 
Guia de estilos 

    font-family: 'Creepster',
    cursive;

    font-family: 'Open Sans Condensed',
    sans-serif;

    font-family: 'Special Elite',
    cursive;

------section------
titulos: 
font-family: Open Sans
font-size: 40px

subtitulos:
font-family: Open Sans
font-size: 25px

-----body--------
titulos: 
font-family: Lato
font-size: 25px 

subtitulos: 
font-family: Lato
font-size: 14px

-----titulos-------
h1: extra-bold (800)
h2: bold (700)
h3: regular (400)
h4: lato 

---paleta de colores-----
nickel: #707070
rich black: #000f08
ginder: #b36b01
sweet brown: #a4452c
carmine pink: #E94F37
black olive: #5D6163
verdigris: #44BBA4

*/


